.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.31)), url(/images/floatingPeak.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
}
.jumbotron .container {
  height: 600px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

#photo-form {
  padding-top: 50px;
}

.rendered-image {
  max-width: 100%;
  height: auto;
}

.photo-post {
  margin-bottom: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.21))
}
